<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.internship"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/attendantlist"
        android:label="TequedAttendence"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".TeacherView"></activity>
        <activity android:name=".AddStudents" />
        <activity android:name=".AddFaculty" />
        <activity android:name=".AdminView" />
        <activity android:name=".LoginPageTeacher" />
        <activity android:name=".LoginPageAdmin" />
        <activity android:name=".FirstPage"/>
    </application>

</manifest>